@using CommonLayer.Model
@model ProductModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Category</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="ProductCode"></label>
			<input asp-for="ProductCode" class="form-control" />
			<span asp-validation-for="ProductCode" class="text-danger"></span>
			<span class="text-danger">@Html.ValidationMessage("Code")</span>
		</div>
		<div class="mb-3">
			<label asp-for="ProductName"></label>
			<input asp-for="ProductName" class="form-control" />
			<span asp-validation-for="ProductName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ProductDescription"></label>
			<textarea asp-for="ProductDescription" class="form-control" ></textarea>
			<span asp-validation-for="ProductDescription" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ExpiryDate"></label>
			<input asp-for="ExpiryDate" class="form-control" />
			<span class="text-danger">@Html.ValidationMessage("Expiry")</span>
		</div>
		<div class="mb-3">
			<label asp-for="CategoryId"></label>
			<select asp-for="CategoryId" class="form-control">
				<option value="1">Category A</option>
				<option value="2">Category B</option>
				<option value="3">Category C</option>
				<option value="4">Category D</option>
			</select>
			<span asp-validation-for="CategoryId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ProductImage"></label>
			<input type="file" accept="image/png, image/jpeg" asp-for="ProductImage" class="form-control" />
		</div>
		<div class="mb-3" >
			<label>Status</label>
			<div><label>@Html.RadioButton("IsActive", true) Active</label></div>
			<div><label>@Html.RadioButton("IsActive", false) Suspended</label></div>
		</div>

		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}